<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Website Design & Hosting</h3>
                    <p class="text-muted">We have expertise in professional website design and hosting and our work is reliable and timely delivered. Read More…</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Computer Maintenance & Repair</h3>
                    <p class="text-muted">We are the Center solution for all Computer maintenance and repair as well as selling computer peripherals. Read More…</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Graphic Design & Branding</h3>
                    <p class="text-muted">We make your idea a reality, we design brochures, billboards, magazines, Letterheads, stickers, fliers, business cards etc. Read More…</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>System Development</h3>
                    <p class="text-muted">We develop systems for Schools, Hotels, Colleges, Small and Large business organizations. Read More…</p>
                </div>
            </div>
	</div>
   
        

 <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Servers & Systems Integration</h3>
                    <p class="text-muted">. Read More…</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Printing</h3>
                    <p class="text-muted">We do mass printing i.e Brochures, Fliers, Billboards, Banners, Stickers, magazines, Roll up banners, Business cards etc. Read More…</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Graphic Design & Branding</h3>
                    <p class="text-muted">We make your idea a reality, we design brochures, billboards, magazines, Letterheads, stickers, fliers, business cards etc. Read More…</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>System Development</h3>
                    <p class="text-muted">We develop systems for Schools, Hotels, Colleges, Small and Large business organizations. Read More…</p>
                </div>





















    </div>
</section>
